.contenedorGris {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorBlanco {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888;
  z-index: 99;
  width: 90%;
  max-width: 450px;
}

.botonCerrarModal {
  position: absolute;
  right: 8px;
  top: 8px;
  background: #e7494b;
  color: white;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 10px;
}

.botonCerrarModal:hover,
.botonCancelarModal:hover {
  color: #e7494b;
  background: white;
  outline: 1px solid #e7494b;
}

.inputNombreTareaModal {
  width: 100%;
  height: 2rem;
  padding: 0px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.modalBody textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 10px;
  border-color: #ccc;
  padding: 8px;
  margin-bottom: 8px;
  font-family: inherit;
}

.modalBody form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.botonCancelarModal {
  background: #e7494b;
  color: white;
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
}

.botonGuardarModal {
  color: white;
  background-color: #175676;
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
}

.botonGuardarModal:hover {
  background-color: white;
  color: #175676;
  outline: 1px solid #175676;
}
