body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #175676;
}

.App {
  width: 100%;
  max-width: 450px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3rem;
  margin-top: 10px;
  background-color: white;
}

.App h1 {
  text-align: left;
}
.task {
  background-color: #efefef;
  width: calc(100% - 3px - 8px);
  margin: 10px 0px;
  padding: 3px;
  padding-right: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.checkbox {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #909090;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background: #175676;
  border: 1px solid white;
}

.classLine {
  text-decoration: line-through;
}

.task-left,
.task-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task button {
  border: none;
}

.task-edit-button {
  color: #175676;
}

.task-delete-button {
  color: #e7494b;
}

.formularioNuevaTarea {
  display: flex;
  gap: 10px;
}

.formularioNuevaTarea input {
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.formularioNuevaTarea button {
  width: 36px;
  background: #175676;
  color: white;
  border: none;
  border-radius: 10px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.botonCancelarModal {
  background: #e7494b;
  color: white;
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
}

.botonGuardarModal {
  color: white;
  background-color: #175676;
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
}
