body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #175676;
}

button {
  cursor: pointer;
}

.App {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3rem;
  margin-top: 10px;
  /* background-color: white; */
}

.AppLight {
  background-color: white;
}

.AppDark {
  background-color: rgb(26, 32, 44);
}

.App h1 {
  text-align: center;
  margin-top: 0;
  font-size: 1.75rem;
}
.task {
  width: 100%;
  margin: 10px 0px;
  padding: 15px;
  padding-right: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.taskLight {
  background-color: #efefef;
}

.taskDark {
  background-color: rgb(8 59 85);
}

.taskDark .task-edit-button {
  color: white;
}

.App ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.checkbox {
  width: 13px;
  height: 13px;
  min-width: 13px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #909090;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background: #175676;
  border: 1px solid white;
}

.classLine {
  text-decoration: line-through;
}

.task-left,
.task-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-left {
  width: 85%;
}

.task button {
  border: none;
}

.task-edit-button {
  color: #175676;
}

.task-delete-button {
  color: #e7494b;
}

.formularioNuevaTarea {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.formularioNuevaTarea input {
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 8px;
  box-sizing: border-box;
}

.formularioNuevaTarea textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: #ccc;
  font-family: inherit;
  padding: 8px;
}

.formularioNuevaTarea button {
  width: fit-content;
  padding: 10px 20px;
  margin: auto;
  background: #175676;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.formularioNuevaTarea button:hover {
  background: white;
  color: #175676;
  outline: 1px solid #175676;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.error {
  font-size: 12px;
  color: #e7494b;
}

.contenedorNuevaTarea {
  flex-grow: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.informacionTarea {
  width: 100%;
}

.informacionTarea p {
  margin: 0;
  font-weight: 600;
}

.informacionTarea small {
  font-style: italic;
  font-weight: 100;
}

.bgImageLigth {
  background-image: url(./assets/figuraFondoBlanco.svg);
}

.bgImageDark {
  background-image: url(./assets/figuraFondo.svg);
}
