.contenedorDescripcion h1 {
  font-size: 2rem;
}

.contenedorImagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

h2 {
  color: #175676;
  text-align: center;
}

.contenedorIzquierdoHome h1 {
  color: white;
  font-size: 6rem;
}
.contenedorDerechoHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-breadcrumb {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  .contenedorIzquierdoHome h1 {
    font-size: 4rem;
  }
  .chakra-breadcrumb.darkNav {
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .TareasPage {
    padding: 62px 20px;
    background-size: 210%;
    background-position-x: 70%;
    background-position-y: 42%;
  }
}
